<html lang="tr">

<%- include('../partials/_header') -%>


<body>
  <%- include('../partials/_nav') -%>

    <form action="/serie/<%= serie._id %>?_method=PUT" method="post" required>

      <input type="text" name="title" value="<%= serie.title %>" placeholder="Series Title" required>
      <input type="text" name="subtitle" value="<%= serie.subtitle %>" placeholder="Series Subtitle" required>
      <textarea name="other" rows="8" placeholder="Series other" required><%= serie.other %></textarea>
      <br>
      <input type="text" name="serial" value="<%= serie.serial %>" placeholder="Series Serial" required>
      <input type="text" name="status" value="<%= serie.status %>" placeholder="Series Status" required>
      <br><input type="file" name="image">
      <button type="submit">Güncelle</button>
    </form>

  </body>

  <%- include('../partials/_footer') -%>

</html>