<html lang="tr">

  <%- include('partials/_header') -%>

<body>
	<%- include('partials/_nav') -%>
	<div class="container">
		<h1>Books Lists</h1>
		<% for (let i=0; i < Books.length; i++) { %>
			<div class="card mb-3" style="max-width: 540px;">
				<div class="row no-gutters">
					<div class="col-md-4">
						<img src="<%= Books[i].image %>" style="max-width: 100%;">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-header bg-warning">
								<%= Books[i].name %>
							</h5>
							<br>
							<p class="card-title">
								<%= Books[i].author %>
							</p>
							<p class="card-text">
								<%= Books[i].publisher %>
							</p>
							<p class="card-text">
								<%= Books[i].description%>
							</p>
							<p class="card-text"><small class="text-muted">
									<%= Books[i].status %>
								</small></p>
							<a href="/book/<%= Books[i].slug %>" class="btn btn-info">Gönderiye Git</a>
						</div>
					</div>
				</div>
			</div>
			<% } %>
	</div>

	<%- include('partials/_footer') -%>
</body>


</html>