<html lang="tr">

<%- include('partials/_header') -%>

	<body>
		<%- include('partials/_nav') -%>
			<br><br>
			<img src="<%= moviePage.image %>" alt="fotoğraf" width="300" height="300">

			<h1>
				<%= moviePage.title %>
			</h1>

			<h3>
				<%= moviePage.subtitle %>
			</h3>
			<font>
				<%= moviePage.serial %>
			</font>
			<h4>
				<%= moviePage.status %>
			</h4>
			<p>
				<%= moviePage.description %>
			</p>
			<a href="/movie/edit/<%= moviePage._id %>">edit</a>
			<br>
			<%- include('partials/_footer') -%>

	</body>

</html>