<html lang="tr">

<%- include('../partials/_header') -%>


  <body>
    <%- include('../partials/_nav') -%>
      <h1>
        <%= bookPage.name %>
      </h1>

      <div class="inside">
        <br><br>
        <img src="<%= bookPage.image %>" alt="fotoğraf" width="300" height="300">

        <h3>
          <%= bookPage.author %>
        </h3>
        <font>
          <%= bookPage.publisher %>
        </font>
        <h4>
          <%= bookPage.description %>
            </h3>
            <p>
              <%= bookPage.status %>
            </p>
            <a href="/book/edit/<%= bookPage._id %>">Güncelle</a>
            <a href="/book/<%= bookPage._id %>?_method=DELETE" onclick="return confirm('Emin misin?')">Sil</a>

            <br><br>
      </div>

      <br>
  </body>

  <%- include('../partials/_footer') -%>

</html>